<div class="product-container">
  <div class="product-image-container">
    
  </div>

  <div class="product-info">
    <div class="product-info-left">
      <div class="product-info-left-title">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <div>
          <mat-icon *ngFor="let star of [].constructor(product.rating)" class="star filled">star</mat-icon>
          <mat-icon *ngFor="let star of [].constructor(5 - product.rating)" class="start empty">star_outline</mat-icon>
        </div>
      </div>

      <div class="description">
        <ul class="description-left">
          <li>Freshness</li>
          <li>Farm</li>
          <li>Delivery</li>
          <li>Stock</li>
        </ul>
        <ul class="description-right">
          <li>{{ product.freshness }}</li>
          <li>{{ product.farm }}</li>
          <li>{{ product.delivery }}</li>
          <li>{{ product.inStock }}</li>
        </ul>
      </div>
    </div>

    <div class="product-info-right">
      <div class="product-info-right-price">
        <div class="price">
          <h2>{{ product.price }} $</h2>
          <p>{{ product.price }} $</p>
        </div>
        <div class="shipping">
          <div>Free shipping</div>
          <div>Delivery in {{ product.deliveryTime }} day</div>
        </div>
      </div>
      <div class="product-info-bot-buttons" >
        <a (click)="showProductDetails(this.product.id)"  class="show-product-details-btn">Product Details</a>
        <div class="whishlist-btn">
          <mat-icon>favorite_border</mat-icon>
          <span>Add to wishlist</span>
        </div>
      </div>
    </div>
  </div>
</div>
