<div class="product-container">
    <div class="product-image-container">
        <img src="../../../../assets/food-pack.jpg" alt="" class='product-image'>
    </div>

    <div class="product-info">
        <div class="product-info-left">
            <div class="product-info-left-title">
                <h2>Product title</h2>
                <p>Lorem ipsum dolor sit amet.</p>
                <div>*****</div>
            </div>

            <div class="description">
                <ul class="description-left">
                    <li>Freshness</li>
                    <li>Farm</li>
                    <li>Delivery</li>
                    <li>Stock</li>
                </ul>
                <ul class="description-right">
                    <li>New</li>
                    <li>Grosery Farm Field</li>
                    <li>Europe</li>
                    <li>320 pcs</li>
                </ul>
            </div>
    </div>

        <div class="product-info-right">
            <div class="product-info-right-price">
                <div class="price">
                    <h2>32.13 $</h2>
                    <p>33.54 $</p>
                </div>
                <div class="shipping">
                    <div>Free shipping</div>
                    <div>Delivery in 1 day</div>
                </div>
            </div>
            <div class="product-info-bot-buttons">
                <a href="">Product Details</a>
                <div class="whishlist">
                    Add to whishlist
                </div>
            </div>
        </div>

        
    </div>
</div>
