<div class="additional-info">
    <h2 class="cart-title">Additional information</h2>
    <h3 class="cart-subtitle">Need some think else?We will make it for you!</h3>
    <label for="additional-info" class="notes">
      Order notes
      <textarea
      formControlName="addInfo"
      class="addInfo"
        name="additional-info"
        id="additional-info"
        rows="10"
        style="resize: none"
        placeholder="Need a specific delivery day?Sending a gift?Let's say..."
      ></textarea>
    </label>
  </div>