<div class="left">
        <img src="" alt="image-placeholder">
        <div class="wishlist-btn">
            <mat-icon>favorite_border</mat-icon>
            Wishlist
        </div>
        <div class="remove btn">
            <mat-icon>close</mat-icon>
            Remove
        </div>
    
</div>

<div class="right">
<h3>Product title</h3>
<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
</table>
<div class="rating">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
</div>
<h3>44.67 USD</h3>
</div>

<div class="amount">
    <input type="text" placeholder="1pcs">
    <label for="amount-type">
        <select>
            <option value="">Pcs</option>
        </select>
    </label>
</div>

