<section class="cart-product">
  <div class="left">
    <div class="image-placeholder"></div>
    <div class="wishlist-btn">
      <mat-icon>favorite_border</mat-icon>
      Wishlist
    </div>
    <div class="remove btn" (click)="removeProduct(product.id)">
      <mat-icon>close</mat-icon>
      Remove
    </div>
  </div>

  <div class="right">
    <h3>{{product.title}}</h3>
    <table>
      <tr>
        <td>farm</td>
        <td>{{product.farm}}</td>
    </tr>
    <tr>
        <td>freshness</td>
        <td>{{product.freshness}}</td>
      </tr>
    </table>
    <div class="rating">
      <mat-icon *ngFor="let star of [].constructor(product.rating)">star</mat-icon>
      
    </div>
    <h3>{{product.price}} USD</h3>
  </div>

  <div class="amount">
    <input type="number" placeholder="1pcs" [value]="count" min="1"/>
    <label for="amount-type">
      <select>
        <option value="" *ngFor="let item of product.buyBy">{{item}}</option>
      </select>    </label>
  </div>
</section>
