// categories-drop-down
.categories-drop-down
    display: flex
    align-items: center
    cursor: pointer
    li
        text-align: center
        list-style: none
        cursor: pointer
    

.expand-more-icon
    color: #6A983C

.invis
    transition: all .25s ease
    opacity: 0
    z-index: -1

.search-select
    width: 106px
    height: 23px
    outline: none
    border-radius: 10px
    border: none
    background-color: #F9F9F9

.first
    position: absolute
    display: block
    top: 5rem
    border: 1px solid black
    border-radius: 10px
    .third
        width: 106px
        transition: all .25s ease
    .third:hover
        transition: all .25s ease
        color: #6A983C
