// SEARCH-BAR
$searchbox-bg: #F9F9F9
// general
.search-bar
    background-color: #FDFDFD
    max-width: 1259px
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: 45px
    margin-right: 45px

.search-box-wrapper
    position: relative
    width: 500px
    height: 42px

.search-box-container
    box-sizing: border-box
    position: absolute
    right: 47px
    bottom: 2px
    width: 500px
    height: 42px
    white-space: nowrap
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 10px
    border: 1px solid #D1D1D1
    background-color: $searchbox-bg

.seach-select
    display: flex
    align-items: center
.seacrh-select p
    font-family: 'Poppins', sans-serif
    font-weight: 700
// title
.search-bar-title
    max-width: 178px
    margin-top: 29px
    margin-bottom: 26px

.search-input
    width: 100%
    padding: 0
    outline: none
    border: none
    background-color: $searchbox-bg
    font-family: "Open Sans", sans-serif
    font-size: 14px

.batton-wraper
    position: relative
    height: 20px
    width: 0
.batton
    position: absolute
    border-radius: 10px
    height: 20px
    border: 1px solid #D1D1D1
    top: -10px
    width: 0

.search-result-container
    width: 262px

.search-result
    position: absolute
    width: 262px
    display: flex
    flex-direction: column
    text-align: center
    border: 1px solid black
    border-radius: 8px
    backdrop-filter: blur(2px)
    li
        list-style: none
        cursor: pointer
        padding: .25rem 0

    li:hover
        color: #6A983C

.expand-less-icon
    padding: 0.25rem

    color: #6A983C

.expand-less-icon:hover
    color: red
    font-weight: 600

.hidden
    transition: all .25s ease
    opacity: 0
    z-index: -1
.hidden:hover
    opacity: 0
    transition: all .25s ease
    z-index: 0

.noQuery::placeholder
    transition: all .25s ease-in-out
    color: red

// profile
.profile
    display: flex
    align-items: center
    p
        font-size: 14px

.user
    margin-right: 42.06px
    margin-left: 10px

.cart-container
    height: 1.5rem
    width: 1.5rem
    display: inline-block

.cart-wrapper
    height: 1.5rem
    width: 1.5rem
    position: relative

.cart-counter
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    color: #ffffff

    bottom: -4px

    right: 13px
    width: 16px
    height: 16px
    background-color: #E5704B
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
    border-radius: 12px
    text-align: center

.profile>*
    cursor: pointer
    transition: all .5s ease-in-out

.profile-user
    display: flex
    position: relative

.userName
    position: absolute
    right: 100%
    max-width: 150px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.search-button
    margin-right: 16px

// error

.error-container
    position: absolute
    opacity: 0
    border: 1px solid grey
    width: max-content
    padding: .25rem
    border-radius: 10px
    backdrop-filter: blur(2px)
    transition: opacity .5s ease
    color: #6A983C
.isError
    opacity: 100
    transition: opacity .25s ease
    color: red

// login modal
.userProfileModal
    z-index: 3
    position: fixed
    width: 75vw
    height: 75vh
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    background-color: #fff
    border-radius: 10px
    border: 2px solid #D1D1D1
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1 )
    font-family: 'Open Sans'
    font-size: 14px

.buttons-wrapper
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
    h1
        width: 100%
        font-family: 'Poppins'
        font-weight: 600
        font-size: 40px
        margin-bottom: 20px

.buttons
    width: 50%
    display: flex
    flex-direction: row
    justify-content: space-around

    div
        display: flex
        flex-direction: column
        align-items: center
        font-family: 'Poppins'
        font-weight: 600
        cursor: pointer

    div:hover
        color: #6A983C

    img
        width: 50px
        height: 50px
        border-radius: 10px

.logout-button
    position: absolute
    right: 5px
    bottom: 5px
    img
        width: 30px
        height: 30px
        transition: all .5s ease
        cursor: pointer
        border: 50px

    img:hover
        transition: all .5s ease
        transform: scale(110%,110%)
.close-button
    position: absolute
    right: 5px
    top: 5px
    img
        width: 30px
        height: 30px
        transition: all .5s ease
        cursor: pointer

    img:hover
        transition: all .5s ease
        transform: scale(110%,110%)

.admin-button
    position: absolute
    left: 5px
    top: 5px
    img
        width: 30px
        height: 30px
        transition: all .5s ease
        cursor: pointer

    img:hover
        transition: all .5s ease
        transform: scale(110%,110%)
.shopping-history-button
    position: absolute
    left: 5px
    bottom: 5px
    img
        width: 30px
        height: 30px
        transition: all .5s ease
        cursor: pointer
        filter: grayscale(100%)

    img:hover
        transition: all .5s ease
        transform: scale(110%,110%)
.isClosed
    opacity: 0
    z-index: -1

// user profile modal
.profile-modal-wrapper
    display: flex
    margin: 0 auto
    height: 100%
    width: 40%
    justify-content: space-around
    align-items: center

.photo
    img
        width: 100px
        height: 100px
        border-radius: 50px
        box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.1 )

.content
    font-family: "Open Sans"
    span
        margin-right: 10px
        font-weight: 600
        font-family: "Poppins"

.burger
    display: none
    width: 30px
    height: 30px
// responsive

@media screen and (max-width: 1000px)
    .search-input
        padding-left: 5px
        width: auto
    .logo
        display: none
    .burger
        display: block
        margin-right: 10px
        // searchField
    .search-box-wrapper
        width: 100%

    .batton-wraper
        display: none
    .search-box-container
        position: static
        width: auto
    .search-result-container
        width: 100%

    .search-button-wrapper
        display: none

        // cart/user
    .userName
        display: none
    .user
        margin-right: 10px

@media screen and (max-width: 600px)
    .profile-modal-wrapper
        flex-direction: column
