<div class="search-bar" #searchBar>
  <h2 class="search-bar-title">Freshnescom</h2>
  <div class="search-box-container">
    <app-categories-drop-down></app-categories-drop-down>
    <div class="batton">|</div>

    <div class="search-result-container">
      <input
        type="text"
        placeholder="Enter product name..."
        class="search-input"
        (input)="checkValidity()"
        [formControl]="searchQuery"
        (keydown)="handleSearchByEnter($event)"
        
      />

      <div [ngClass]="errorStyles">{{ errorMsg }}</div>
      <ul [ngClass]="dropDownResult">
        <li *ngFor="let item of list" (click)="moveToProduct(item.id)">
          {{ item.title }}
        </li>
        <li (click)="closeResultWindow()">
          <mat-icon class="expand-less-icon"> expand_less </mat-icon>
        </li>
      </ul>
    </div>

    <div #searchButton>
      <mat-icon role="button" style="cursor: pointer" (click)="search()"
        >search</mat-icon
      >
    </div>
  </div>

  <div class="profile">
    <mat-icon role="button">person</mat-icon>
    <mat-icon role="button">shopping_basket</mat-icon>
  </div>
</div>
