<div class="search-bar">
  <h2 class="search-bar-title">Freshnescom</h2>
  <div class="search-box-container">
    <label for="categories-drop-down"
      >All Categories
      <select
        name="select-category"
        id="categories-drop-down"
        class="search-select"
      >
        <option value="value1">All Categories</option>
        <option value="value2">1</option>
      </select>
    </label>

    <div class="batton"></div>

    <div>
        <input type="text" placeholder="Search product..." class="search-input" #queryInput />
        <ul  class="search-result " #boxRef>
            <li *ngFor="let item of data" (click)="moveToProduct(item.id,boxRef)">{{item.title}}</li>
            <li>  <mat-icon class="expand-less-icon" (click)="closeResultWindow(boxRef)">expand_less</mat-icon >  </li>
          </ul>
    </div>

    <mat-icon role="button" style="cursor: pointer" (click)="setQuery(queryInput,boxRef)">search</mat-icon>
  </div>
  
  <div class="profile">
    <mat-icon role="button">person</mat-icon>
    <mat-icon role="button">shopping_basket</mat-icon>
  </div>
</div>
