<!-- <div class="categories">
  <label *ngFor="let category of categories" for="category"
    >{{ category.name }}
    <select name="" id="category" class="category-select" style="text-align: center">
      <option></option>
      <option *ngFor="let subCategory of category.sub">
        {{ subCategory }}
      </option>
    </select>
  </label>
</div> -->
<div class="categories">
  <ul *ngFor="let category of categories" class="category"  (click)="showCategory(elem)" >
      {{category.name}} <mat-icon class="expand-more-icon">expand_more</mat-icon>
      <div [class]="categoriesClassList"   #elem>
        
        <li *ngFor="let subCategory of category.sub" >
            {{subCategory}}
        </li>
      </div>
  </ul>
</div>
