<div class="price-calc">
    <div class="subtotal-container">
        <div class="subtotal">
            <h4>Subtotal</h4>
            <p>73.55 USD</p>
        </div>
        <div class="tax">
            <h4>Tax</h4>
            <p><span>17%</span>
                <span>17.55 USD</span>
            </p>
        </div>
    </div>

    <div class="promo">
        <input type="text">
        <button>Apply now</button>
    </div>

    <div class="total-container">
        <div class="total-desc">
            <p>Total order</p>
            <p>Guaranteed delivery day </p>
        </div>
        <h3>55.44 USD</h3>
    </div>

</div>