<div class="tabs">
  <div class="tab">
    <h2>Description</h2>
  </div>
  <div class="tab">
    <h2>Reviews</h2>
    <span>20</span>
  </div>
  <div class="tab">
    <h2>Questions</h2>
    <span>4</span>
  </div>
</div>

<div class="tabs-data">
  <div>
      <h3>Heading 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corrupti
        consequuntur explicabo hic quibusdam, repellat inventore laudantium dolorem
        tenetur ad dignissimos repudiandae doloremque nihil quos quo ut quasi nemo
        laborum?
      </p>
  </div>
  <div>
      <h3>Heading 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corrupti
        consequuntur explicabo hic quibusdam, repellat inventore laudantium dolorem
        tenetur ad dignissimos repudiandae doloremque nihil quos quo ut quasi nemo
        laborum?
      </p>
  </div>
</div>
