<div class="tabs">
  
  <div class="tab" *ngFor="let item of tabs;let i= index" (click)="heading = i+1" >
    <div [ngClass]="{underline:currentHeading === i+1}"></div>
    <h2>{{item}}</h2>
    <span>{{10 * (i+1)}}</span>
  </div>
  
</div>

<div class="tabs-data">
  <div *ngFor="let item of [].constructor(3);let i = index" >
    <div class="inner" *ngIf="currentHeading === (i+1)">
      <h3>Heading {{i+1}}</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corrupti
        consequuntur explicabo hic quibusdam, repellat inventore laudantium
        dolorem tenetur ad dignissimos repudiandae doloremque nihil quos quo ut
        quasi nemo laborum?
      </p>
    </div>
  </div>
</div>
