<footer class="footer">
  <div class="footer-info">
    <ul
      class="footer-list"
      *ngFor="let chunk of footerInfoData; let i = index"
      (click)="expandTab(i)"
    >
      <h3 class="footer-list-heading">{{ chunk.label }}</h3>
      <ul >
        <div [ngClass]="chunk.styles">
          <a
            *ngFor="let text of chunk.data"
            class="footer-list-item connections"
            >{{ text }}</a
          >
        </div>
      </ul>
    </ul>
  </div>

  <h2 class="pTags">Products tags</h2>
  <div class="footer_tags">
    <button type="button" *ngFor="let tag of tags" class="tag-button">
      {{ tag }}
    </button>
  </div>

  <p class="copy">Copyrigths @ 2020 website.com</p>
</footer>
