
.filters
    width: 268px

.control-buttons
    width: min-content
    margin: 0 auto
    font-size: 15px
    font-weight: 700
    color: #A9A9A9
    font-family: 'Open Sans', sans-serif

.apply
    margin-right: 23px

.filter-button
    cursor: pointer
    font-family: 'Poppins', semi-bold


.apply:hover
    transition: all .5s ease
    color: #6A983C

.reset:hover
    transition: all .5s ease
    color: #6A983C

    


    
    