.filters
    padding-right: .5rem
// categories
.categories-container
    justify-content: space-between
    display: flex
    margin-bottom:  1rem
    margin-top:  .25rem 
    text-align: center
    

.categories-tab-item
    list-style: none
    margin: .1rem 0
    padding:  .1rem 0

.categories-tab-count
    list-style: none
    margin:  .1rem 0
    padding:  .1rem 0
    background-color: #F4F8EC
    border-radius: 10px
    font-size: 0.75rem
    color: #6A983C

.filter-tab label
    display: block
    float: right
    margin: 0.1rem 0
    padding: 0.1rem 0

.filter-tab label>input
    float: left
// brands
.brands-filter
    display: flex
    flex-direction: column
    margin-bottom:  1rem
    margin-top:  .25rem 
// price
.price-inputs-flex-container
    display: flex
    width: min-content
    justify-content: space-between

.price-input
    width: 4rem
    margin: 0 .5rem
    border: 1px solid #D1D1D1
    background-color: #F9F9F9
    border-radius: 12px

.price-input-container>label
    font-size: .75rem
// rating
.rating-star-gold
    color: #FDBC15
    font-size: 1.25rem
