<aside class="filters">
  <div>
    <h3>Categories</h3>
    <div class="categories-container">
      <ul class="categories-tab-items">
        <li class="categories-tab-item">CategoryName</li>
        <li class="categories-tab-item">CategoryName</li>
        <li class="categories-tab-item">CategoryName</li>
        <li class="categories-tab-item">CategoryName</li>
      </ul>
      <ul class="filter-tab-counter">
        <li class="categories-tab-count">1</li>
        <li class="categories-tab-count">333</li>
        <li class="categories-tab-count">23</li>
        <li class="categories-tab-count">454</li>
      </ul>
    </div>
  </div>
  <div>
    <h3>Brands</h3>
    <div class="filter-tab brands-filter">
      <label for="brand" class="cbx-container"
        >filter by tagname
        <input
          type="checkbox"
          name=""
          id="brand"
          class="brand-checkbox"
          checked
        />
      </label>
      <label for="brand1"
        >filter by tag name
        <input type="checkbox" name="" id="brand1" />
      </label>
      <label for="brand2"
        >filter by tag name
        <input type="checkbox" name="" id="brand2" />
      </label>
      <label for="brand3"
        >filter by tag name
        <input type="checkbox" name="" id="brand3" />
      </label>
    </div>
  </div>
  <div>
    <div class="filter-tab">
      <h3>Rating</h3>
      <div class="filter-tab brands-filter">
        <label for="rating-1" class="cbx-container"
          ><mat-icon class="rating-star-gold">star</mat-icon>
          <input
            type="checkbox"
            name=""
            id="rating-1"
            class="brand-checkbox"
            checked
          />
        </label>
        <label for="rating-2">
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-2" />
        </label>
        <label for="rating-3"
          ><mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-3" />
        </label>
        <label for="rating-4"
          ><mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-4" />
        </label>
        <label for="rating-5">
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-5" />
        </label>
      </div>
    </div>
  </div>
  <div>
    <h3>Price</h3>
    <div class="slider">
      <input type="range" name="" id="" max="100" min="10" />
    </div>
    <div class="price-inputs-flex-container">
      <div class="price-input-container">
        <label for="min"
          >min
          <input type="text" class="price-input min" id="min" value="0"/>
        </label>
      </div>
      <div class="price-input-container">
        <label for="max"
          >max
          <input type="text" class="price-input max" id="max" value="100"/>
        </label>
        <p>reset</p>
      </div>
    </div>
  </div>
</aside>
