<section class="cart">
    <div class="cart-left">
        
        <div class="title">
            <h2>Billing info</h2>
            <p>Please enter your billing info</p>
        </div>

        <!-- cart-form -->

        <form class="cart-form">
            <div class="cart-form-left">
                <div class="first-name-container">
                    <label for="first-name">First name
                        <input type="text" placeholder="first-name" id="first-name" class="form-item first-name">
                    </label>
                </div>
                <div class="email-container">
                    <label for="email">Email address
                        <input type="text" placeholder="Email address" id="email-address" class="form-item email">
                    </label>
                </div>
                <div class="address-container">
                    <label for="address">Address
                        <input type="text" placeholder="Address" id="address" class="form-item address">
                    </label>
                </div>
                <div class="state-container">
                    <label for="state">State/Country
                        <input type="text" placeholder="Chose a state of country" id="first-name" class="form-item state">
                    </label>
                </div>
                            
            </div>

            <div class="cart-form-right">
                <div class="last-name-container">
                    <label for="last-name">Last name
                        <input type="text" placeholder="Last-name" id="last-name" class="form-item last-name">
                    </label>
                </div>
                <div class="phone-container">
                    <label for="phone">Phone number
                        <input type="text" placeholder="Phone number" id="phone" class="form-item phone">
                    </label>
                </div>
                <div class="city-container">
                    <label for="city">Town/city
                        <input type="text" placeholder="Town/city" id="city" class="form-item city">
                    </label>
                </div>
                <div class="zip-container">
                    <label for="zip">ZIP/Postal code
                        <input type="text" placeholder="Postal code or zip" id="zip" class="form-item zip">
                    </label>
                </div>

                <!-- additional information -->

                <div class="additional-info">
                    <h2>Additional information</h2>
                    <p>Need some think else?We will make it for you!
                    </p>
                    <label for="add-input">
                        <textarea name="" id="" cols="30" rows="10" style="resize: none;" placeholder="Need a specific delivery day?Sending a gift?Let's say..."></textarea>
                    </label>
                </div>

                <!-- confirmation -->

                <div class="comfirmation">
                    <h2>Confirmation</h2>
                    <p>We are getting to the end,just few clicks and your order is ready!</p>
                    <input type="checkbox">I agree
                    <input type="checkbox">I agree
                    <button>Complete order</button>
                </div>


            </div>

        </form>
    </div>
    <div class="cart-right">

        <div class="order-summary">
            <h2>Order summary</h2>
            <p>Price can change depending on shipment method and taxes of your state</p>
            <app-cart-product></app-cart-product>

        </div>

        <app-cart-summary></app-cart-summary>

    </div>
</section>  