<section class="cart" [formGroup]="form">
  <div class="cart-left">
    <div class="title">
      <h2>Billing info</h2>
      <p>Please enter your billing info</p>
    </div>

    <!-- cart-form -->

    <app-cart-billing></app-cart-billing>

      <!-- additional information -->

      <div class="additional-info">
        <h2>Additional information</h2>
        <p>Need some think else?We will make it for you!</p>
        <label for="add-input">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            style="resize: none"
            placeholder="Need a specific delivery day?Sending a gift?Let's say..."
          ></textarea>
        </label>
      </div>

      <!-- confirmation -->
      <app-cart-confirmation></app-cart-confirmation>
    </div>
 

  <div class="cart-right">
    <div class="order-summary">
      <h2>Order summary</h2>
      <p>
        Price can change depending on shipment method and taxes of your state
      </p>
      <div class="empty" *ngIf="!products.length">no products</div>
      <app-cart-product *ngFor="let prod of products" [product]='prod.product' [count]="prod.count" [products]="products" ></app-cart-product>
    </div>

    <app-cart-summary [sum]="sum"></app-cart-summary>
  </div>
</section>
