<div class="sort-nav-container" >
    <h1 class="sort-nav-title">{{filter.category}}</h1>

    <div class="sort-nav-flex">
        <div class="sort-drop-down">
            <span class="description">Sort by</span>
            <div class="middle">|</div>
            <div class="select-sort">
                <ul>Recommended
                  <li>
                    <ul>
                      <li>Recommended</li>
                      <li>Newest</li>
                      <li>Popular</li>
                      <li>By Rating</li>
                    </ul>
                  </li>
                </ul>
              </div>
        </div>
        <div class="sort-nav-products-count">
             <span class="count"  >{{products.length}}</span>
             <span class="products">Products</span>
        </div>
    </div>
</div>