.sort-nav-container
    margin: .5rem 0
    

.sort-nav-flex
    display: flex
    justify-content: space-between

.sort-drop-down
    display: flex
    margin-top: .5rem

.count
    color: #6A983C
    background-color: #F4F8EC
    padding: .5rem
    border-radius: 12px

.products
    color: #A9A9A9
    padding: .5rem
    