<div class="sort-nav-container">
    <h1>All products</h1>

    <div class="sort-nav-flex">
        <div class="sort-drop-down">
            <span>Sort by</span>
            <label for="sort">
                <select name="" id="sort" class="sort-tab">
                  <option value=""></option>
                  <option value="">Recomended</option>
                  <option value="">Newest</option>
                  <option value="">Oldest</option>
                  <option value="">Rating</option>
                </select>
              </label>
        </div>
        <div class="sort-nav-products-count">
             <span class="count">117</span>
             <span class="products">Products</span>
        </div>
    </div>
</div>