<div>
    <div class="filter-tab">
      <h3>Rating</h3>
      <div class="filter-tab brands-filter">
        <label for="rating-1" class="cbx-container"
          ><mat-icon class="rating-star-gold">star</mat-icon>
          <input
            type="checkbox"
            name=""
            id="rating-1"
            class="brand-checkbox"
            checked
          />
        </label>
        <label for="rating-2">
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-2" />
        </label>
        <label for="rating-3"
          ><mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-3" />
        </label>
        <label for="rating-4"
          ><mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-4" />
        </label>
        <label for="rating-5">
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <mat-icon class="rating-star-gold">star</mat-icon>
          <input type="checkbox" name="" id="rating-5" />
        </label>
      </div>
    </div>
  </div>