<form >
  <div class="filter-tab">
    <h3 class="rating-title">Rating</h3>
    <div class="filter-tab rating-filter" formControlName="rating">
      <label
        [attr.for]="'input' + (i + 1)"
        class="cbx-container"
        *ngFor="let input of loopArray.constructor(ratingMax); let i = index"
      >
        <input
          type="checkbox"
          [attr.id]="'input' + (i + 1)"
          #checkBoxList
          (change)="createCheckboxRef()"
        />

        <mat-icon
          *ngFor="let star of [].constructor(i + 1)"
          class="rating-star-gold"
          >star</mat-icon
        >
      </label>
    </div>
  </div>
</form>
