.confirmation-container
    margin: 10px 0

.confirm-box
    display: flex
    align-items: center
    border: 1px solid #D1D1D1
    padding: 9px 16px 9px 16px
    border-radius: 10px


.confirm-box input[type=checkbox]
    accent-color: #6A983C
    width: 20px
    height: 20px

.err-msg
    color: red
    font-family: 'Sans Serif'
    font-size: 14px
    margin-left: 10px
.confirm-box p 
    font-size: 14px

.complete-btn
    padding: 16.5px 48px
    border-radius: 10px
    background-color: #6A983C
    border: 1px solid #46760A
    font-family: 'Poppins'
    font-weight: 700
    font-size: 15px
    color: #fff
    cursor: pointer 