


.admin
    border-radius: 5px
    border: 1px solid #d1d1d1
    background-color: #f1f1f1
    display: flex 
    justify-content: intitial
    height: 600px
    margin: 0 25px
    form
        width: 100%
        
.table
    width: 40%
    min-width: 40%
    padding: 5px
    

.form-create
    width: 100%
    padding: 5px
    box-sizing: border-box
    
.update-form
    width: 100%

.emptyForm
    display: flex
    justify-content: center
    align-items: center

@media screen and ( max-width: 700px  )
    .admin
        height: 100%
        flex-direction: column-reverse
        align-items: center
    
    .table,.form-create
            width: 100%
    .emptyForm
        min-height: 200px
    // .form-update
    .table
        height: 600px
        margin-bottom: 1%
    


    

        

    


    