<div>
  <div class="discount-box">
    <span class="discount-item">-36%</span>
    <span class="discount-item">Free Shipping</span>
  </div>

  <div class="description-images-container">
    <div
      class="desc-container desc-container-large first"
      [ngStyle]="{'background-image':'url('+ product.imgURL +')'}"
    ></div>
    <div
    [ngStyle]="{'background-image':'url('+ product.imgURL +')'}"
      class="desc-container desc-container-small first-small"
    ></div>
    <div
    [ngStyle]="{'background-image':'url('+ product.imgURL +')'}"
      class="desc-container desc-container-small second-small"
    ></div>

  </div>

  <gallery
    class="product-gallery"
    imageSize="cover"
    [thumb]="false"
    counterPosition="top"
    style="background-color: #fff"
    [items]="images"
    styles="height: 300px;"
  >
  </gallery>
</div>
