<div class="description-images-container">
    <div class="desc-container-large">
        <img src="../../../assets/food-pack.jpg" alt="" class="desc-img desc-img-large">
    </div>
    <div class="desc-container-small">
        <div class="desc-card">
            <img src="../../../assets/food-pack.jpg" alt="" class="desc-img desc-img-small">
        </div>
        <div class="desc-card">
            <img src="../../../assets/food-pack.jpg" alt="" class="desc-img desc-img-small">
        </div>
    </div>
</div>