.products
    display: flex
    justify-content: center

.products-filter
    flex: 1 3 0
    
.products-list
    flex: 8 3 0
    display: flex
    justify-content: center
    
    
    
    
    
    
    
    
    
    