<div class="main-container">
  <div>
    <h1>All products</h1>
    <span>Sort by</span>
    <label for="sort">
      <select name="" id="sort">
        <option value=""></option>
        <option value="">Recomended</option>
        <option value="">Newest</option>
        <option value="">Oldest</option>
        <option value="">Rating</option>
      </select>
    </label>
  </div>
  <main class="products">
    <aside class="filters">
      <div>
        <ul class="filter-tab">
          <h3>Categories</h3>
          <li>CategoryName</li>
          <li>CategoryName</li>
          <li>CategoryName</li>
          <li>CategoryName</li>
        </ul>
      </div>
      <div>
        <h3>Brands</h3>
        <ul class="filter-tab brands-filter">
          <label for="brand" class="cbx-container"
            >filter by tagname
            <input
              type="checkbox"
              name=""
              id="brand"
              class="brand-checkbox"
              checked
            />
          </label>
          <label for="brand"
            >filter by tagname
            <input type="checkbox" name="" id="brand" />
          </label>
          <label for="brand"
            >filter by tagname
            <input type="checkbox" name="" id="brand" />
          </label>
          <label for="brand"
            >filter by tagname
            <input type="checkbox" name="" id="brand" />
          </label>
        </ul>
      </div>
      <div>
        <ul class="filter-tab">
          <h3>Rating</h3>
          <ul class="filter-tab brands-filter">
            <label for="brand" class="cbx-container"
              >*
              <input
                type="checkbox"
                name=""
                id="brand"
                class="brand-checkbox"
                checked
              />
            </label>
            <label for="brand"
              >**
              <input type="checkbox" name="" id="brand" />
            </label>
            <label for="brand"
              >***
              <input type="checkbox" name="" id="brand" />
            </label>
            <label for="brand"
              >****
              <input type="checkbox" name="" id="brand" />
            </label>
            <label for="brand"
              >*****
              <input type="checkbox" name="" id="brand" />
            </label>
          </ul>
        </ul>
      </div>
      <div>
        <h3>Price</h3>
        <div class="slider">
          <input type="range" name="" id="" max="100" min="10" />
        </div>
        <div class="price-inputs-flex-container">
          <div class="price-input-container">
            <label for="min"
              >min
              <input type="text" class="price-input min" id="min" />
            </label>
          </div>
          <div class="price-input-container">
            <label for="max"
              >max
              <input type="text" class="price-input max" id="max" />
            </label>
            <p>reset</p>
          </div>
        </div>
      </div>
    </aside>
    <aside class="products-list"></aside>
  </main>
  <div class="pagination">
    <div class="pages-pagination">
      <span>Page:</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
    </div>
    <div class="show-more-btn">
      <div>Show More Products</div>
      <div>
        <img
          src="../../assets/down-arrow.png"
          alt="down-arrow"
          class="down-arrow"
        />
      </div>
    </div>
    <div class="products-count">
      <span class="counter">300</span>
      <span class="counter-desc">Products</span>
    </div>
  </div>
</div>
