<div class="pagination">
    <div class="pages-pagination">
      <span>Page:</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
    </div>
    <div class="show-more-btn">
      <div>Show More Products</div>
      <div>
        <img
          src="../../assets/down-arrow.png"
          alt="down-arrow"
          class="down-arrow"
        />
      </div>
    </div>
    <div class="products-count">
      <span class="counter">{{products.length}}</span>
      <span class="counter-desc">Products</span>
    </div>
  </div>