


// pagination
.pagination
    margin: 0 45px
    margin-top: 10px
    margin-bottom: 17px
    display: flex
    justify-content: space-between
    align-items: center
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 12px
    color: #151515

.green
    color: green
.pages-pagination span
    cursor: pointer

.pages-pagination span:hover
    text-decoration: underline
    
.pages-pagination span:first-child
    color: #A9A9A9

.pages-pagination span:not(:last-child)
    margin-right: 8px    

.down-arrow
    margin-left: 10px
   

.show-more-btn
    cursor: pointer
    padding: 10px 14px
    display: flex
    border: 2px solid #46760A
    border-radius: 10px
    background-color: #6A983C


.show-more-btn>div
    font-family: 'Poppins'
    font-style: normal
    font-size: 15px
    font-weight: 700
    color: #fff




.counter
    color: #6A983C
    background-color: #F4F8EC
    border-radius: 12px
    padding: 0 8px
    font-family: 'Poppins'
    font-weight: 600 

.counter-desc
    color: #A9A9A9
    margin-left: 4px
    
