<div class="price-filter">
    <h3>Price</h3>
    <div class="slider">
      <input type="range" name="" id="" max="100" min="10" />
    </div>
    <div class="price-inputs-flex-container">
      <div class="price-input-container">
        <label for="min"
          >min
          <input type="text" class="price-input min" id="min" value="0"/>
        </label>
      </div>
      <div class="price-input-container">
        <label for="max"
          >max
          <input type="text" class="price-input max" id="max" value="100"/>
        </label>
        <p>reset</p>
      </div>
    </div>
  </div>
