// categories
.categories-title
    font-size: 18px
    margin-bottom: 1.6rem

.categories-container
    justify-content: space-between
    margin-bottom:  1rem
    width: 26.8rem    
   
.categories-tab-item
    line-height: 1.9rem
    width: 26.8rem
    font-size: 1.4rem    
    list-style: none
    margin: .1rem 0
    padding:  .1rem 0
    display: flex
    justify-content: space-between
    width: inherit
    transition: all .5s ease
    
    span
        cursor: pointer

.categories-container li:not(:first-child)
    margin-top: 1.2rem

.categories-tab-item:hover
    transition: all .5s ease
    color: #6A983C

.active
    color: #6A983C

.categories-tab-count
    display: inline-block
    line-height: 1.8rem
    font-size: 1.2rem
    text-align: center
    width: 3.8rem
    height: 1.8rem
    list-style: none
    margin:  .1rem 0
    padding:  .1rem 0
    background-color: #F4F8EC
    border-radius: 1rem
    color: #6A983C

.filter-tab label
    display: block
    float: right
    margin: 0.1rem 0
    padding: 0.1rem 0

.filter-tab label>input
    float: left
