<div class="descripion-relevant"> 

    <div class="relevant-titles">
        <h3>You may be like</h3>
        <div class="more-products">
            <h3>More products</h3>
            <mat-icon>navigate_next</mat-icon>
        </div>
    </div>

    <div class="relevant-flex-container">
        <div class="relevant-item" *ngFor="let item of [].constructor(5)">
            <div class="relevant-image">
                <img src="../../../assets/food-pack.jpg" alt="">
            </div>
            <div class="relevant-short-description">
                <h1>Product title</h1>
                <p class="desc-grey">Space for description</p>
            </div>
            <div class="relevant-price">
                <p>2.44 USD</p>
                <button>Buy now</button>
            </div>
        </div>
    </div>
</div>
