.relevant-titles
    display: flex
    justify-content: space-between
    margin: 1rem 0

    .more-products
        display: flex
        cursor: pointer

    mat-icon
        color: #6A983C
.relevant-image>img
    width: 12rem
    border-radius: 10px

.desc-grey
    font-size: .75rem
    color: #575757

.relevant-price
    display: flex
    align-items: center
    *
        margin:  .5rem 
    button
        padding: .5rem 
        border-radius: 10px
        background-color: #6A983C
        border: 1px solid #46760A
        color: white
        font-weight: 600
        cursor: pointer

.relevant-flex-container
    display: flex
    justify-content: space-between
    margin: 1rem 0
    div
        margin: 0 1rem

    


// image

