.footer-info
    display: flex
    justify-content: space-between

.footer-list
    text-align: center

.footer-list-item
    color: #6A983C
    list-style: none
    display: block
    text-decoration: none
    border-radius: 10px
    padding: 0 .25rem

.footer-list-item:hover
    color: black
    border-left: 1px solid black
    border-right: 1px solid black
.footer_tags
    margin: 1rem 0
.tag-button
    border-radius: 10px
    margin: 0 .5rem
    border: none
    font-weight: 600
    padding: 0.25rem
    transition: all .25s ease-out
.tag-button:hover
    cursor: pointer
    box-shadow: 1px 1px 1px 1px
    transition: all .25s ease-out
