
body
    width: 1260px
    margin: 0 auto
   
h1,h2,h3,h4,h5,h6,p,ul        
    margin: 0 
    padding: 0
    
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap') 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap')

body::-webkit-scrollbar
    position: relative
    width: 10px
body::-webkit-scrollbar-thumb
    background-color: #A9A9A9
    outline: 1px solid #6A983C
    border-radius: 5px
body::-webkit-scrollbar-track
    background-color: #F4F8EC
    border: 1px solid #6A983C

