// brands
.brands-wraper
    margin-top: 18.5px

.brand-filter-title
    font-family: 'Poppins', semi-bold
    
.brands-wraper .filter-tab:not(:first-child)
    margin-top: 16px

.brand-filter
    font-family:  'Open Sans', sans-serif
    display: flex
    flex-direction: column
    margin-top: 48px
    margin-bottom: 50.5px

.filter-tab
    display: flex
    align-items: center
    font-size: 14px
    line-height: 19.07px
    input
        width: 20px
        height: 20px
        margin-right: 10px

    input[type=checkbox] 
        accent-color: #6A983C
        


.brand-filter-title
    font-size: 18px
    line-height: 27px

.brand-checkbox
    cursor: pointer