<div class="brand-filter">
  <h3 class="brand-filter-title">Brands</h3>
  <div class="brands-wraper">
    <div class="filter-tab ">
      <input type="checkbox" checked/>
      <label for="">brandName</label>
    </div>
    <div class="filter-tab ">
      <input type="checkbox" />
      <label for="">brandName</label>
    </div>
    <div class="filter-tab ">
      <input type="checkbox" />
      <label for="">brandName</label>
    </div>
    <div class="filter-tab ">
      <input type="checkbox" />
      <label for="">brandName</label>
    </div>
  </div>
</div>
