<div class="brand-filter">
    <h3>Brands</h3>
    <div class="filter-tab brands-filter">
      <label for="brand" class="cbx-container"
        >filter by tagname
        <input
          type="checkbox"
          name=""
          id="brand"
          class="brand-checkbox"
          checked
        />
      </label>
      <label for="brand1"
        >filter by tag name
        <input type="checkbox" name="" id="brand1" />
      </label>
      <label for="brand2"
        >filter by tag name
        <input type="checkbox" name="" id="brand2" />
      </label>
      <label for="brand3"
        >filter by tag name
        <input type="checkbox" name="" id="brand3" />
      </label>
    </div>
  </div>