
// CATEGORIES

// VARS
$special-gren: #6A983C


// INFO & LINKS 
.contacts
    display: flex
    justify-content: space-between
    box-shadow: 0 1px 0 0 rgba(21, 21, 21, 10%)

.info>*
    padding: 0 .5rem

.info>a
    text-decoration: none
    transition: all 0.5s ease-in-out
.text-green
    color: $special-gren

.info>a:hover
    transition: all 0.5s ease-in-out
    text-decoration: underline

.about-elem
    color: $special-gren
    text-decoration: none
    margin: 0 0.5rem
    transition: all 0.5s ease-in-out

.about-elem:hover
    transition: all 0.5s ease-in-out
    text-decoration: underline







