<nav class="nav-top">
  <div class="contacts">
    <div class="info">
      <a href="" class="info-element text-green">Chat with us</a>
      <span class="info-element">+420 336 775 664</span>
      <span class="info-element">info@freshnesecom.com</span>
    </div>
    <div class="about">
      <a class="about-elem" href="">Blog</a>
      <a class="about-elem" href="">About Us</a>
      <a class="about-elem" href="">Careers</a>
    </div>
  </div>

  <app-search-bar></app-search-bar>

  <app-nav-categories-bar></app-nav-categories-bar>

  <app-bread-crumbs></app-bread-crumbs>
  
</nav>
