
// container

.nav-top
    background-color: #FDFDFD
    position: relative
    top: 0
.contacts
    box-sizing: border-box
    display: flex
    justify-content: space-between

    border-bottom: 1px solid rgba(21, 21, 21, 10%)
    font-family: "Open Sans", regular 

    font-size: 12px
    margin: 0 45px
    padding: 16px 0
    font-weight: 400
    line-height: 16px
    border-bottom: 1px solid rgba(21, 21, 21, 10%)

// info
.info
    width: 375px
    top: 16px
    align-items: center
.info *:not(:last-child)
    margin-right: 33px

.info>a
    line-height: 16px
    text-decoration: none
    transition: all 0.5s ease-in-out

.text-green
    color: #6A983C

.info>a:hover
    transition: all 0.5s ease-in-out
    text-decoration: underline

// about
.about
    width: 197px
    display: flex
    white-space: nowrap

.about *:not(:last-child)
    margin-right: 38px

.about-elem
    color: #6A983C
    text-decoration: none
    transition: all 0.5s ease-in-out

.about-elem:hover
    transition: all 0.5s ease-in-out
    text-decoration: underline

@media screen and (max-width: 1260px)
    .contacts
       display: none
